<header role="banner">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign lang = page.lang -%}
  {% if page.direction == 'ltr' %}
    {% assign direction_main_side = 'l' %}
    {% assign direction_other_side = 'r' %}
  {% else %}
    {% assign direction_main_side = 'r' %}
    {% assign direction_other_side = 'l' %}
  {% endif %}

  {%- if page_paths -%}
    <nav class="navbar navbar-expand-lg bg-stolpersteine">
      <div class="container">
        <a class="navbar-brand site-title" href="{{ "/" | relative_url }}">
          {{ site.title | escape }}
        </a>
        <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img src="{{ "/assets/icons/menu-button-wide-fill.svg" | relative_url }}" alt="" width="20" height="20">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m{{ direction_other_side }}-auto mb-2 mb-lg-0">
            {%- for path in page_paths -%}
              {%- assign node = site.pages | where: "path", path | first -%}
              {%- if node.title -%}
              <li class="nav-item">
                <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
              </li>
              {%- endif -%}
            {%- endfor -%}

            {% assign language_pages = site[lang] | group_by: 'category' | sort: 'name' %}
            {{ language_pages.length }}
            {% for category in language_pages %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="{{ category.name | slugify }}" role="button" data-toggle="dropdown" aria-expanded="false">
                  {{ category.name | replace: "1", "" | replace: "2", "" | replace: "3", "" | lstrip |capitalize }}
                </a>
                <ul class="dropdown-menu text-dark mt-2 rounded-0 border-0 bg-stolpersteine" aria-labelledby="{{ category.name | slugify }}">
                  {% assign pages = category.items | sort: 'order' %}
                  {% for node in pages %}
                      <li class="nav-item aktiv">
                        <a class="nav-link" href="{{ node.url | relative_url }}" {% if node.link_id %} id="{{ node.link_id }}"{% endif %}>
                          {{ node.title | escape }}
                        </a>
                      </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}

          </ul>
          <ul class="navbar-nav m{{ direction_main_side }}-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="translations" role="button" data-toggle="dropdown" aria-expanded="false">
                <img src="/assets/icons/globe2.svg" alt="" width="16" height="16">
              </a>
              <ul class="dropdown-menu text-dark mt-2 rounded-0 border-0 bg-stolpersteine" aria-labelledby="translations">
                <li class="nav-item"><a class="nav-link" href="{{ 'he/index.html' | relative_url }}">עברית</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ 'en/research.html' | relative_url }}">English</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Deutsch</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {%- endif -%}
</header>
