{{! This is a mustache.js template. See syntax here: http://mustache.github.io/mustache.5.html }}

{% raw %}
<div class="row m-0">
  <div class="col-12">
    <h5 class="person-name">{{ properties.FullName }}</h5>
  </div>
</div>
<div class="row m-0">
  <div class="col-12 col-sm-6 col-lg-8">
    <dl class="mb-1">

      {{# properties.bornDate }}
        <dt>{{ i18n.bornDate }}</dt>
        <dd>{{ properties.bornDate }}</dd>
      {{/ properties.bornDate }}

      {{# properties.diedDate }}
        <dt>{{ i18n.diedDate }}</dt>
        <dd>{{ properties.diedDate }}</dd>
      {{/ properties.diedDate }}

      {{# properties.persecution }}
        <dt>{{ i18n.persecution }}</dt>
        <dd>{{ properties.persecution }}</dd>
      {{/ properties.persecution }}

      <dt>{{ i18n.place }}</dt>
      <dd>
        {{# properties.street }}
          {{ properties.street }}<br>
        {{/ properties.street }}
        {{ properties.postalCode }}
        {{ properties.city }}
      </dd>

      {{# properties.biographyHTML }}
        <div><b>{{ i18n.biographyHTML }}</b></div>
        <div class="biographyHTML">{{{ properties.biographyHTML }}}</div>
      {{/ properties.biographyHTML }}

    </dl>

  </div>

  <div class="col-12 col-sm-6 col-lg-4">
    <div id="popup-map"></div>

    {{^ properties.image }}
    {{# properties.inscription }}
      <p class="inscription">{{{ properties.inscription }}}</p>
    {{/ properties.inscription }}
    {{/ properties.image }}

    {{# properties.image }}
      <div class="square">
        <img src="{{ api_base_url }}{{ properties.image }}" class="popup-image">
      </div>

      {{# properties.imagecopyright }}
        <p class="copyright mb-2 text-break small" title="{{ properties.imagecopyright }}">&copy; {{ properties.imagecopyright }}</p>
      {{/ properties.imagecopyright }}
    {{/ properties.image }}


    {{#properties.personImages}}
      <div class="square">
        <img src="{{ api_base_url }}{{ path }}" class="popup-image">
      </div>
      {{# authorshipRemark }}
        <p class="copyright mb-2 text-break small" title="{{ authorshipRemark }}">&copy; {{ authorshipRemark }}</p>
      {{/ authorshipRemark }}
    {{/properties.personImages}}
  </div>
</div>
{% endraw %}
