{{! This is a mustache.js template. See syntax here: http://mustache.github.io/mustache.5.html }}

{{! comment: outer modal template }}
<div class="modal-content">
  <div class="modal-body stolperstein-content">
    {% raw %}{{> body}}{% endraw %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      {% raw %}{{ i18n.close }}{% endraw %}
    </button>
  </div>
</div>
