<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}" dir="{{ page.direction | default: 'ltr' }}">

  {%- include head.html -%}

  <body>

    {%- include navigation.html -%}

    {{ content }}

    {%- include footer.html -%}

  </body>

</html>
