---
layout: default_no_container
---

<div id="home-slider" style="background-image: url({{ "/assets/images/steine/home.jpg" | relative_url }});">

<!---
Small:

#1(6) #2(6)
 [   ](12)

Medium:

#2(3) [   ](6) #3(3)

Large:

#1(2) #2(2) [   ](4) #3(2) #4(2)
--->


  <div class="container-lg">
    <div class="row">

      <div class="col-6 col-md-3 col-xxl-2">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="col-6 d-md-none d-xxl-block col-xxl-2">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="d-none col-md-6 col-xxl-4 biografie-col biografie-main biografie-slider">
        <div class="row py-3">
          <div class="col-6" style="display: flex; align-items: center;">
            <p class="biografie-text" style="margin: 0; max-height: 300px; overflow-y: auto;">
            </p>
          </div>
          <div class="col-6" style="display: flex; align-items: center;">
            <div style="display: flex;flex-direction: column;align-items: stretch; max-height: 300px;">
              <img class="biografie-image" style="object-fit: contain; overflow: hidden; flex: 1;">
              <div class="text-break small" style="flex: 1;">&copy; <span class="biografie-copyright"></span></div>
            </div>

          </div>
        </div>
      </div>

      <div class="d-none d-md-block col-md-3 col-xxl-2">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="col-xxl-2 d-none d-xxl-block">
        <div class="stolperstein d-none">
        </div>
      </div>

    </div>
  </div>
</div>

<main class="container-lg py-3 clearfix">

<div class="d-md-none my-3 biografie-main">
  <div class="row">
    <div class="col-6" style="display: flex; align-items: center;">
      <p class="biografie-text p-3" style="margin: 0; max-height: 300px; overflow-y: auto;"></p>
    </div>
    <div class="col-6 p-3" style="display: flex; align-items: center;">
      <div><img class="biografie-image" style="max-height: 300px; max-width: 200px; margin: auto;"></div>
      <p class="text-break small">&copy; <span class="biografie-copyright"></span></p>
    </div>
  </div>
</div>

{%- if page.title -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}

<div class="row">
  <div class="col-12 col-sm-8 col-md-9 col-xxl-8 ">
    {{ content }}
  </div>

  <div class="col-12 col-sm-4 col-md-3 col-xxl-4 ">
    <div class="alert alert-info">
      <h2 class="display-5 text-dark"><img src="/assets/icons/globe2.svg" alt="" width="20" height="20"> Übersetzungen</h2>
      <ul>
        <li><a href="{{ 'he/stolpersteinverlegung.html' | relative_url }}">עברית</a></li>
        <li><a href="{{ 'en/research.html' | relative_url }}">English</a></li>
      </ul>

    </div>
    <h2 class="display-5">{{ page.list_title | default: "Beiträge" }}</h2>
    {%- for post in site.posts -%}
      <div class="py-3 border-bottom">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="display-6">
          <a class="" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | strip_html | truncate: 160 }}
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>

</div>

</main>
